@model TestWeb.Models.Error.ViewModel.ErrorViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("ログイン", "Index","Login")
</p>
