@using TestWeb.Models.Common;

@{
    ViewBag.Title = "Top";

}

<h2>Top</h2>
@Html.DisplayFor(m => ((UserInfoModel)Session["UserInfoModel"]).UserId)

@Html.ActionLink("出退勤", "Index", "AttendanceTime");